@use './variables' as *;

@mixin exportComponentLevelVariables($map) {
  @each $key, $value in $map {
    :export {
      #{$key}: $value;
    }
  }
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin linkItem {
  @include flexCenter;
  margin: 0.5rem;
  padding: 0.5rem;
  height: 2rem;
  border-radius: 50px;
  color: $textPrimary;
  font-size: 15px;
  font-weight: 400;
}

@mixin linkButton {
  color: $textSecondary;
  font-weight: light;
  background-color: $bgPrimary;
  padding: 1rem;
}
