@use './variables' as *;

@mixin exportComponentLevelVariables($map) {
  @each $key, $value in $map {
    :export {
      #{$key}: $value;
    }
  }
}

@mixin homePageBg {
  width: 100vw;
  height: 100vh;
  z-index: 0;
  display: flex;
}

@mixin fullBox {
  width: 100%;
  height: 100%;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin linkItem($size: 1) {
  @include flexCenter;
  margin: 0.5rem * $size;
  padding: 0.5rem * $size;
  height: 2rem * $size;
  border-radius: 50px * $size;
  color: $textPrimary;
  font-size: 15px * $size;
  font-weight: 400 * $size;
}

@mixin linkButton($size: 1) {
  color: $textSecondary;
  font-weight: light;
  background-color: $bgPrimary;
  padding: 1rem * $size;
}

@mixin linkButtonHover {
  background-color: $bgPrimaryLight;
  cursor: pointer;
}
