.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 200vh;
  width: 100vw;
  z-index: 0;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
  background: url(~/src/assets/Footer/FooterBG.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  color: #282c34;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
  display: flex;
  height: 3rem;
  width: 3rem;
  margin-left: 0.5rem;
}

@media only screen and (max-width: 800px) {
  .landing .box {
    margin-left: 25px;
    width: 80%;
  }
  .landing .largeWord {
    font-size: 35px;
  }
  .landing .smallWord {
    font-size: 20px;
    margin: 20px 0;
  }
  .intro .title {
    font-size: 35px;
  }
  .intro .desc {
    font-size: 20px;
    margin: 20px 0;
  }
  .intro .box {
    flex-direction: column;
    margin: 150px 20px;
  }
  .intro .words {
    align-items: center;
  }
}
@media only screen and (min-width: 800px) {
  .landing .box {
    margin-left: 50px;
    width: 600px;
  }
  .landing .largeWord {
    font-size: 50px;
  }
  .landing .smallWord {
    font-size: 30px;
    margin: 30px 30px 30px 0;
  }
  .intro .title {
    font-size: 50px;
  }
  .intro .desc {
    font-size: 30px;
    margin: 30px 30px 30px 0;
  }
  .intro .box {
    margin: 150px;
  }
  .intro .words {
    flex: 1;
  }
}
.landing {
  background: linear-gradient(315deg, #f8fadb 0%, #cce8b5 25%, #ebebeb 75%, #f8fadb 100%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  z-index: 0;
  display: flex;
  flex-direction: column-reverse;
}
.landing .box {
  height: 55%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5rem;
}
.landing .box span {
  color: #282c34;
}
.landing .largeWord {
  display: flex;
  text-shadow: 0 0 7px #cce8b5, 0 0 14px #f8fadb;
}
.landing .smallWord {
  text-shadow: 0 0 7px #cce8b5, 0 0 14px #f8fadb;
}
.landing .buttons {
  display: flex;
}
.landing .medias {
  display: flex;
  height: 2.5rem;
  min-height: 2.5rem;
}
.landing .mediaIcon {
  height: 100%;
  margin-right: 1rem;
}
.landing .mediaIcon:last-child {
  margin-right: 100px;
}
.landing .mediaIcon:hover {
  cursor: pointer;
}

/* Basic Intro Session */
.intro {
  background: url(~/src/assets/BasicIntro/BasicIntroBG.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
}
.intro .box {
  height: 70vh;
  display: flex;
  margin-bottom: 5rem;
}
.intro .words {
  /* background-color: #fff; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.intro .title {
  display: flex;
  text-shadow: landingWord-shadow;
}
.intro .video {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro .box {
  color: #282c34;
}
.intro .desc {
  text-shadow: 0 0 7px #cce8b5, 0 0 14px #f8fadb;
}/*# sourceMappingURL=home.css.map */