.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 200vh;
  width: 100vw;
  z-index: 0;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
  background: url(~/src/assets/Footer/FooterBG.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  color: #282c34;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
  display: flex;
  height: 3rem;
  width: 3rem;
  margin-left: 0.5rem;
}

@media only screen and (max-width: 800px) {
  .landing .box {
    margin-left: 25px;
    width: 80%;
  }
  .landing .largeWord {
    font-size: 35px;
  }
  .landing .smallWord {
    font-size: 20px;
    margin: 20px 0;
  }
  .intro .title {
    font-size: 35px;
  }
  .intro .desc {
    font-size: 20px;
    margin: 20px 0;
  }
  .intro .box {
    flex-direction: column;
    margin: 150px 20px;
  }
  .intro .words {
    align-items: center;
  }
}
@media only screen and (min-width: 800px) {
  .landing .box {
    margin-left: 50px;
    width: 600px;
  }
  .landing .largeWord {
    font-size: 50px;
  }
  .landing .smallWord {
    font-size: 30px;
    margin: 30px 30px 30px 0;
  }
  .intro .title {
    font-size: 50px;
  }
  .intro .desc {
    font-size: 30px;
    margin: 30px 30px 30px 0;
  }
  .intro .box {
    margin: 150px;
  }
  .intro .words {
    flex: 1;
  }
}
.landing {
  background: linear-gradient(315deg, #f8fadb 0%, #cce8b5 25%, #ebebeb 75%, #f8fadb 100%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  z-index: 0;
  display: flex;
  flex-direction: column-reverse;
}
.landing .box {
  height: 55%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5rem;
}
.landing .box span {
  color: #282c34;
}
.landing .largeWord {
  display: flex;
  text-shadow: 0 0 7px #cce8b5, 0 0 14px #f8fadb;
}
.landing .smallWord {
  text-shadow: 0 0 7px #cce8b5, 0 0 14px #f8fadb;
}
.landing .buttons {
  display: flex;
  margin-right: auto;
}
.landing .buttons .item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  padding: 0.75rem;
  height: 2.5rem;
  border-radius: 50px;
  color: #282c34;
  color: aquamarine;
  font-weight: light;
  background-color: #282c34;
  margin: 0;
  margin-right: 1rem;
}
.landing .medias {
  display: flex;
  margin-top: 1rem;
  height: 2rem;
  min-height: 2rem;
}
.landing .mediaIcon {
  height: 100%;
  margin-right: 1rem;
}
.landing .mediaIcon:last-child {
  margin-right: 100px;
}
.landing .mediaIcon:hover {
  cursor: pointer;
}

/* Basic Intro Session */
.intro {
  background: url(~/src/assets/BasicIntro/BasicIntroBG.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
}
.intro .box {
  height: 70vh;
  display: flex;
  margin-bottom: 5rem;
}
.intro .words {
  /* background-color: #fff; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.intro .title {
  display: flex;
  text-shadow: landingWord-shadow;
}
.intro .video {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro .box {
  color: #282c34;
}
.intro .desc {
  text-shadow: 0 0 7px #cce8b5, 0 0 14px #f8fadb;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.nav {
  position: absolute;
  height: 5rem;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 100;
}
.nav .icon {
  display: flex;
  width: 3rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
}
.nav .item:first-child {
  margin-right: auto;
}
.nav .item:first-child span {
  padding: 1rem;
  font-size: 25px;
  font-weight: bold;
}
.nav .item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  padding: 0.75rem;
  height: 2.5rem;
  border-radius: 50px;
  color: #282c34;
}
.nav .item:hover {
  cursor: pointer;
}
@media only screen and (max-width: 960px) {
  .nav .item:nth-child(2) {
    margin-right: 2rem;
    border-radius: 0px;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  .nav .menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .nav .item:nth-child(2):hover {
    background-color: #424a5a;
    transition: ease-in-out 600ms;
  }
  .nav .menu-wrapper {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    top: 5rem;
  }
  .nav .menu-item {
    width: 100%;
    height: 3rem;
    background-color: rgba(40, 44, 52, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav .menu-item:hover {
    background-color: rgba(66, 74, 90, 0.8);
    transition: ease-in-out 600ms;
  }
  .nav .menu-cover {
    width: 100%;
    height: 5rem;
    position: absolute;
    background-color: rgba(40, 44, 52, 0.5);
    z-index: 1;
  }
}
@media only screen and (min-width: 960px) {
  .nav .item:last-child {
    color: aquamarine;
    font-weight: light;
    background-color: #282c34;
    margin-right: 2rem;
  }
  .nav .item:not(:first-child):not(:last-child):hover {
    background-color: rgb(192, 255, 233);
  }
  .nav .item:last-child:hover {
    background-color: #424a5a;
  }
}

/*# sourceMappingURL=main.css.map */
