.pageHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #282c34;
}
.pageHeader .phContent {
  width: 80%;
}
.pageHeader .pchContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.pageHeader .phLong {
  margin: 0.5rem 0;
}
@media only screen and (min-width: 800px) {
  .pageHeader {
    margin-top: 4rem;
  }
  .pageHeader .phShort {
    font-size: 18px;
    font-weight: 400;
  }
  .pageHeader .phLong {
    font-size: 45px;
    font-weight: 400;
  }
}
@media only screen and (max-width: 800px) {
  .pageHeader {
    margin-top: 2rem;
  }
  .pageHeader .phContent {
    flex-direction: row;
    justify-content: space-between;
  }
  .pageHeader .phShort {
    font-size: 15px;
    font-weight: 400;
  }
  .pageHeader .phLong {
    font-size: 35px;
    font-weight: 400;
  }
}

.landing {
  background: linear-gradient(315deg, #f8fadb 0%, #cce8b5 25%, #ebebeb 75%, #f8fadb 100%);
  width: 100%;
  height: 100vh;
  z-index: 0;
  display: flex;
  flex-direction: column-reverse;
}
.landing .box {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5rem;
}
.landing .box span {
  color: #282c34;
}
.landing .largeWord {
  display: flex;
}
.landing .buttons {
  display: flex;
  margin-right: auto;
}
.landing .buttons .item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  padding: 0.5rem;
  height: 2rem;
  border-radius: 50px;
  color: #282c34;
  font-size: 15px;
  font-weight: 400;
  color: white;
  font-weight: light;
  background-color: #282c34;
  padding: 1rem;
  margin: 0;
  margin-right: 1rem;
}
.landing .buttons .item:hover {
  background-color: #424a5a;
  cursor: pointer;
}
.landing .medias {
  display: flex;
  margin-top: 1rem;
  height: 2rem;
  min-height: 2rem;
}
.landing .mediaIcon {
  height: 100%;
  margin-right: 1rem;
}
.landing .mediaIcon:last-child {
  margin-right: 100px;
}
.landing .mediaIcon:hover {
  cursor: pointer;
}
@media only screen and (min-width: 800px) {
  .landing .box {
    margin-left: 100px;
    width: 600px;
    height: 70%;
  }
  .landing .largeWord {
    font-size: 50px;
  }
  .landing .smallWord {
    font-size: 30px;
    margin: 30px 30px 30px 0;
  }
}
@media only screen and (max-width: 800px) {
  .landing .box {
    margin-left: 35px;
    width: 80%;
    height: 30%;
  }
  .landing .largeWord {
    font-size: 35px;
  }
  .landing .smallWord {
    font-size: 20px;
    margin: 20px 0;
  }
}

/* Basic Intro Session */
.intro {
  background: white;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
}
.intro .box {
  height: 70vh;
  display: flex;
  margin-bottom: 5rem;
}
.intro .words {
  /* background-color: #fff; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.intro .title {
  display: flex;
  text-shadow: landingWord-shadow;
}
.intro .video {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro .box {
  color: #282c34;
}
.intro .desc {
  text-shadow: 0 0 7px #cce8b5, 0 0 14px #f8fadb;
}
@media only screen and (min-width: 800px) {
  .intro .intro .title {
    font-size: 50px;
  }
  .intro .intro .desc {
    font-size: 30px;
    margin: 30px 30px 30px 0;
  }
  .intro .intro .box {
    margin: 150px;
  }
  .intro .intro .words {
    flex: 1;
  }
}
@media only screen and (max-width: 800px) {
  .intro .intro .title {
    font-size: 35px;
  }
  .intro .intro .desc {
    font-size: 20px;
    margin: 20px 0;
  }
  .intro .intro .box {
    flex-direction: column;
    margin: 150px 20px;
  }
  .intro .intro .words {
    align-items: center;
  }
}

.marketFigure {
  width: 100%;
  height: 100vh;
  z-index: 0;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #282c34;
}
.marketFigure .box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1200px;
  height: 20%;
}
.marketFigure .box .item {
  width: 90%;
  display: flex;
  justify-content: space-around;
}
.marketFigure .box .item .title {
  text-align: center;
}
.marketFigure .box .item .description {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70%;
}
.marketFigure .box .item .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 4px 8px 10px 0 rgba(0, 0, 0, 0.2);
}
.marketFigure .box .item .card .icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.marketFigure .box .item .card .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media only screen and (min-width: 800px) {
  .marketFigure .box .item {
    margin: 15px;
  }
  .marketFigure .box .item .title {
    font-size: 40px;
  }
  .marketFigure .box .item .description {
    font-size: 20px;
    margin: 10px 0 20px 0;
  }
  .marketFigure .box .item .card {
    border-radius: 50px;
    height: 350px;
    width: 280px;
  }
  .marketFigure .box .item .card .icon {
    width: 10rem;
    height: 10rem;
  }
  .marketFigure .box .item .card .content {
    font-size: 30px;
  }
  .marketFigure .box .item .card .content .number {
    color: #282c34;
  }
  .marketFigure .box .item .card .content .unit {
    color: #6e7990;
  }
  .marketFigure .box .item .card .content .closingDesc {
    margin-top: 1rem;
    font-size: 15px;
  }
}
@media only screen and (max-width: 800px) {
  .marketFigure {
    height: 100vh;
  }
  .marketFigure .box .item {
    margin: 10px;
  }
  .marketFigure .box .item .title {
    font-size: 25px;
  }
  .marketFigure .box .item .description {
    font-size: 17px;
  }
  .marketFigure .box .item .card {
    border-radius: 50px;
    height: 120px;
    width: 400px;
    flex-direction: row;
    margin: 25px;
  }
  .marketFigure .box .item .card .icon {
    width: 6rem;
    height: 6rem;
    margin-right: 20px;
  }
  .marketFigure .box .item .card .content {
    font-size: 20px;
    align-items: start;
  }
  .marketFigure .box .item .card .content .number {
    color: #282c34;
  }
  .marketFigure .box .item .card .content .unit {
    color: #6e7990;
  }
  .marketFigure .box .item .card .content .closingDesc {
    margin-top: 1rem;
    font-size: 15px;
  }
  .marketFigure .box .item:last-child {
    flex-direction: column;
    align-items: center;
    margin: 15px;
  }
}

.learning {
  width: 100%;
  height: 100vh;
  z-index: 0;
  display: flex;
  display: flex;
  flex-direction: column;
  background-color: #f8fadb;
}
.learning .box {
  margin: 0 auto 25px auto;
  width: 80%;
  height: 100%;
}
.learning .box .content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  display: flex;
  color: #282c34;
}
.learning .box .content .left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.learning .box .content .left .smallTitle {
  font-size: 30px;
  margin: 10px 0;
}
.learning .box .content .left .smallDesc {
  font-size: 15px;
  margin: 5px 0;
}
.learning .box .content .left .description {
  width: 100%;
  height: 100%;
  margin-top: 30px;
  font-size: 15px;
  margin: 35px 0;
}
.learning .box .content .left .item:first-child .demoPic {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px 0;
}
.learning .box .content .left .item:first-child .imageBox {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 10rem;
  height: 10rem;
  width: auto;
}
.learning .box .content .left .item:first-child .imageBox:first-child {
  width: 20rem;
}
.learning .box .content .left .item:last-child {
  display: flex;
  width: 100%;
  height: 100%;
}
.learning .box .content .left .item:last-child .button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  padding: 0.5rem;
  height: 2rem;
  border-radius: 50px;
  color: #282c34;
  font-size: 15px;
  font-weight: 400;
  color: white;
  font-weight: light;
  background-color: #282c34;
  padding: 1rem;
  width: 140px;
}
.learning .box .content .left .item:last-child .button:hover {
  background-color: #424a5a;
  cursor: pointer;
}
.learning .box .content .right {
  flex: 2;
}
@media only screen and (min-width: 800px) {
  .learning .box {
    margin-bottom: 40px;
  }
  .learning .right {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .learning .right .illustration {
    width: 40vw;
    height: 60vh;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 4px 8px 10px 0 rgba(0, 0, 0, 0.2);
  }
}
@media only screen and (max-width: 800px) {
  .learning .box {
    margin-bottom: 30px;
  }
  .learning .left {
    font-size: 15px;
  }
  .learning .right {
    display: none;
  }
}

.milestones {
  width: 100%;
  height: 100vh;
  z-index: 0;
  display: flex;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.milestones .box {
  margin: 0 auto 4rem auto;
  width: 80%;
}
.milestones .events {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.milestones .singleEvent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.milestones .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.milestones .card .picture {
  overflow: hidden;
  border-radius: 25px;
}
.milestones .content {
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 2rem 1rem 0 1rem;
  display: flex;
  color: #282c34;
}
.milestones .timeline {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.milestones .timeline .buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.milestones .timeline .singleTimeline {
  width: 100%;
  height: 100%;
}
.milestones .timeline .button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  padding: 0.5rem;
  height: 2rem;
  border-radius: 50px;
  color: #282c34;
  font-size: 15px;
  font-weight: 400;
  color: white;
  font-weight: light;
  background-color: #282c34;
  padding: 1rem;
  text-align: center;
}
.milestones .timeline .button:hover {
  background-color: #424a5a;
  cursor: pointer;
}
@media only screen and (min-width: 800px) {
  .milestones .box {
    margin-top: 20px;
    margin-bottom: 40px;
    height: 60vh;
  }
  .milestones .events {
    justify-content: space-around;
  }
  .milestones .card {
    border-radius: 50px;
    height: 450px;
    width: 340px;
    margin: 20px;
  }
  .milestones .card .picture {
    width: 340px;
    height: 320px;
    overflow: hidden;
  }
  .milestones .card .content .title {
    font-size: 20px;
    color: #282c34;
    font-weight: 500;
  }
  .milestones .card .content .description {
    font-size: 15px;
    color: #6e7990;
    margin: 1rem 0;
  }
  .milestones .card .content .readMore {
    color: rgb(29, 104, 175);
    font-size: 18px;
    margin: 1rem 0;
  }
  .milestones .timeline {
    height: 15%;
  }
  .milestones .timeline .singleTimeline:first-child .line {
    border-radius: 5px 0 0 5px;
  }
  .milestones .timeline .singleTimeline:last-child .line {
    border-radius: 0 5px 5px 0;
  }
  .milestones .timeline .timelineContainer {
    margin-bottom: 30px;
  }
  .milestones .timeline .timelineContainer .line {
    height: 10px;
    width: 100%;
    background-color: #282c34;
  }
  .milestones .timeline .timelineContainer .circleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 0px;
    transform: translateY(-5px);
  }
  .milestones .timeline .timelineContainer .circle {
    height: 20px;
    width: 20px;
    background-color: #40ac9c;
    border-radius: 50%;
  }
  .milestones .timeline .timelineContainer .buttonContainer {
    width: 100%;
    height: 15px;
  }
}
@media only screen and (max-width: 800px) {
  .milestones .box {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 30px;
    height: 80vh;
  }
  .milestones .card {
    border-radius: 50px;
    height: 120px;
    width: 250px;
    margin: 25px;
    transform: translateY(20px);
  }
  .milestones .card .picture {
    position: absolute;
    width: 7rem;
    height: 4rem;
    overflow: hidden;
    border-radius: 10px;
    transform: translate(0, -75px);
  }
  .milestones .card .content {
    font-size: 18px;
    align-items: start;
  }
  .milestones .card .content .title {
    color: #282c34;
  }
  .milestones .card .content .description {
    display: none;
  }
  .milestones .card .content .readMore {
    margin-top: 1rem;
    font-size: 15px;
  }
  .milestones .events {
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
  }
  .milestones .timeline {
    height: 100%;
    width: 15%;
    flex-direction: column;
  }
  .milestones .timeline .singleTimeline:first-child .line {
    border-radius: 5px 5px 0 0;
    transform: translateY(50%);
  }
  .milestones .timeline .singleTimeline:last-child .line {
    border-radius: 0 0 5px 5px;
    transform: translateY(-50%);
  }
  .milestones .timeline .timelineContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
  }
  .milestones .timeline .timelineContainer .line {
    height: 100%;
    width: 10px;
    background-color: #282c34;
    z-index: -1;
  }
  .milestones .timeline .buttonContainer {
    height: 100%;
    align-items: start;
    transform: translateY(-75%);
  }
}

.community {
  width: 100%;
  height: 100vh;
  z-index: 0;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60vh;
  background-color: #f8fadb;
}
.community .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  transform: translateY(-7%);
}
.community .buttons .button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  height: 4rem;
  border-radius: 100px;
  color: #282c34;
  font-size: 30px;
  font-weight: 800;
  color: white;
  font-weight: light;
  background-color: #282c34;
  padding: 3rem;
  text-align: center;
  margin: 1rem 0;
}

.footer {
  height: 15vh;
  display: flex;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
  background: #282c34;
  background-size: cover;
  background-position: center;
  color: white;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  margin-left: 0.5rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
  background: #282c34;
  background-size: cover;
  background-position: center;
  color: white;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  height: 3rem;
  width: 3rem;
  margin-left: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.nav {
  position: absolute;
  height: 5rem;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 100;
}
.nav .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
}
.nav .item:first-child {
  margin-right: auto;
}
.nav .item:first-child span {
  padding: 0.2rem;
  font-size: 25px;
  font-weight: bold;
}
.nav .item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  padding: 0.5rem;
  height: 2rem;
  border-radius: 50px;
  color: #282c34;
  font-size: 15px;
  font-weight: 400;
}
.nav .item:hover {
  cursor: pointer;
}
@media only screen and (max-width: 960px) {
  .nav {
    color: white;
  }
  .nav .item:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    height: 3rem;
    width: 3rem;
    z-index: 2;
  }
  .nav .menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
  }
  .nav .item:nth-child(2):hover {
    background-color: rgba(192, 255, 233, 0.3);
    transition: ease-in-out 600ms;
  }
  .nav .menu-wrapper {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    top: 5rem;
  }
  .nav .menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    background-color: rgba(40, 44, 52, 0.8);
  }
  .nav .menu-item:hover {
    background-color: rgba(66, 74, 90, 0.8);
    transition: ease-in-out 600ms;
  }
  .nav .menu-cover {
    width: 100%;
    height: 5rem;
    position: absolute;
    background-color: rgba(40, 44, 52, 0.5);
    z-index: 1;
  }
}
@media only screen and (min-width: 960px) {
  .nav .item:first-child {
    margin-left: 70px;
  }
  .nav .item:last-child {
    color: white;
    font-weight: light;
    background-color: #282c34;
    padding: 1rem;
    margin-right: 100px;
  }
  .nav .item:not(:first-child):not(:last-child):hover {
    background-color: rgb(192, 255, 233);
  }
  .nav .item:last-child:hover {
    background-color: #424a5a;
  }
}

/*# sourceMappingURL=main.css.map */
