@use './abstracts' as *;
@use './pages' as *;
// @import "abstracts/functions";

// @import "themes/theme";
// @import "pages/home";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
  background: $bgPrimary;
  background-size: cover;
  background-position: center;
  color: $textSecondary;
}

.footer a {
  @include flexCenter;
}

.logo {
  display: flex;
  height: 3rem;
  width: 3rem;
  margin-left: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.nav {
  position: absolute;
  height: 5rem;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 100;

  .icon {
    @include flexCenter;
    width: 3rem;
    height: 3rem;
  }

  .item:first-child {
    margin-right: auto;
  }

  .item:first-child span {
    padding: 0.2rem;
    font-size: 25px;
    font-weight: bold;
  }

  .item {
    @include linkItem;
  }

  .item:hover {
    cursor: pointer;
  }

  @media only screen and (max-width: 960px) {
    color: $textSecondary;

    .item:nth-child(2) {
      @include flexCenter;
      margin-right: 2rem;
      height: 3rem;
      width: 3rem;
      z-index: 2;
    }

    .menu-icon {
      @include flexCenter;
      width: 10%;
      height: 100%;
    }

    .item:nth-child(2):hover {
      background-color: $bgSecondaryLight;
      transition: ease-in-out $transitionSpeed;
    }

    .menu-wrapper {
      position: absolute;
      width: 100%;
      display: flex;
      flex-direction: column;
      top: 5rem;
    }

    .menu-item {
      @include flexCenter;
      width: 100%;
      height: 3rem;
      background-color: $bgPrimaryTp;
    }

    .menu-item:hover {
      background-color: $bgPrimaryTpLight;
      transition: ease-in-out $transitionSpeed;
    }

    .menu-cover {
      width: 100%;
      height: 5rem;
      position: absolute;
      background-color: $bgPrimaryTpCover;
      z-index: 1;
    }
  }

  @media only screen and (min-width: 960px) {
    .item:first-child {
      margin-left: 70px;
    }

    .item:last-child {
      @include linkButton;
      margin-right: 100px;
    }

    .item:not(:first-child):not(:last-child):hover {
      background-color: $textSecondaryLight;
    }

    .item:last-child:hover {
      background-color: $bgPrimaryLight;
    }
  }
}
