@use '../../abstracts/' as *;

.community {
  @include homePageBg;
  @include flexCenter;
  flex-direction: column;
  height: 60vh;
  background-color: $pageBgSecond;

  .buttons {
    @include flexCenter;
    @include fullBox;
    flex-direction: column;
    transform: translateY(-7%);

    .button {
      @include linkItem(2);
      @include linkButton(3);
      text-align: center;
      margin: 1rem 0;
    }
  }
}
