@use '../../abstracts/' as *;

.footer {
  height: 15vh;
  display: flex;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
  background: $bgPrimary;
  background-size: cover;
  background-position: center;
  color: $textSecondary;
}

.footer a {
  @include flexCenter;
}

.logo {
  @include flexCenter;
  height: 3rem;
  width: 3rem;
  margin-left: 0.5rem;
}
