@use '../../abstracts/' as *;

.landing {
  background: linear-gradient(
    315deg,
    map-get($gradient, color1) 0%,
    map-get($gradient, color2) 25%,
    map-get($gradient, color3) 75%,
    map-get($gradient, color4) 100%
  );
  @include homePageBg;
  flex-direction: column-reverse;

  .box {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5rem;
  }
  .box span {
    color: $textPrimary;
  }

  .largeWord {
    display: flex;
    // text-shadow: $landingWordShadow;
  }

  .smallWord {
    // text-shadow: $landingWordShadow;
  }

  .buttons {
    display: flex;
    margin-right: auto;

    .item {
      @include linkItem;
      @include linkButton;
      margin: 0;
      margin-right: 1rem;
    }
  }

  .buttons .item:hover {
    @include linkButtonHover;
  }

  .medias {
    display: flex;
    margin-top: 1rem;
    height: 2rem;
    min-height: 2rem;
  }

  .mediaIcon {
    height: 100%;
    margin-right: 1rem;
  }

  .mediaIcon:last-child {
    margin-right: 100px;
  }

  .mediaIcon:hover {
    cursor: pointer;
  }

  @media only screen and (min-width: 800px) {
    .box {
      margin-left: 100px;
      width: 600px;
      height: 70%;
    }
    .largeWord {
      font-size: $titleSize;
    }
    .smallWord {
      font-size: $descSize;
      margin: 30px 30px 30px 0;
    }
  }

  @media only screen and (max-width: 800px) {
    .box {
      margin-left: 35px;
      width: 80%;
      height: 30%;
    }
    .largeWord {
      font-size: $phoneTitleSize;
    }
    .smallWord {
      font-size: $phoneDescSize;
      margin: 20px 0;
    }
  }
}
