@use '../../abstracts/' as *;

.milestones {
  @include homePageBg;
  display: flex;
  flex-direction: column;
  background-color: $pageBgFirst;

  .box {
    margin: 0 auto 4rem auto;
    width: 80%;
  }

  .events {
    @include flexCenter;
    @include fullBox;
  }

  .singleEvent {
    @include flexCenter;
    @include fullBox;
  }

  .card {
    @include flexCenter;
    flex-direction: column;

    .picture {
      overflow: hidden;
      border-radius: 25px;
    }
  }

  .content {
    // @include flexCenter;
    @include fullBox;
    flex-direction: column;
    padding: 2rem 1rem 0 1rem;
    display: flex;
    color: $textPrimary;
  }

  .timeline {
    @include fullBox;
    @include flexCenter;

    .buttonContainer {
      @include flexCenter;
    }

    .singleTimeline {
      @include fullBox;
    }

    .button {
      @include linkItem;
      @include linkButton;
      text-align: center;
    }

    .button:hover {
      @include linkButtonHover;
    }
  }

  @media only screen and (min-width: 800px) {
    .box {
      margin-top: 20px;
      margin-bottom: 40px;
      height: 60vh;
    }

    .events {
      justify-content: space-around;
    }

    .card {
      border-radius: 50px;
      height: 450px;
      width: 340px;
      margin: 20px;
      .picture {
        width: 340px;
        height: 320px;
        overflow: hidden;
      }

      .content {
        .title {
          font-size: $headerS + 2px;
          color: $textPrimary;
          font-weight: 500;
        }
        .description {
          font-size: $headerS - 3px;
          color: $textPrimaryLight;
          margin: 1rem 0;
        }
        .readMore {
          color: rgb(29, 104, 175);
          font-size: $headerS;
          margin: 1rem 0;
        }
      }
    }

    .timeline {
      height: 15%;

      .singleTimeline:first-child .line {
        border-radius: 5px 0 0 5px;
      }

      .singleTimeline:last-child .line {
        border-radius: 0 5px 5px 0;
      }

      .timelineContainer {
        margin-bottom: 30px;

        .line {
          height: 10px;
          width: 100%;
          background-color: $bgPrimary;
        }

        .circleContainer {
          @include flexCenter;
          width: 100%;
          height: 0px;
          transform: translateY(-5px);
        }

        .circle {
          height: 20px;
          width: 20px;
          background-color: $logoColor;
          border-radius: 50%;
        }

        .buttonContainer {
          width: 100%;
          height: 15px;
        }
      }
    }
  }

  @media only screen and (max-width: 800px) {
    .box {
      display: flex;
      flex-direction: row-reverse;
      margin-bottom: 30px;
      height: 80vh;
    }

    .card {
      border-radius: 50px;
      height: 120px;
      width: 250px;
      margin: 25px;
      transform: translateY(20px);

      .picture {
        position: absolute;
        width: 7rem;
        height: 4rem;
        overflow: hidden;
        border-radius: 10px;
        transform: translate(0, -75px);
      }

      .content {
        font-size: $headerS;
        align-items: start;

        .title {
          color: $textPrimary;
        }
        .description {
          display: none;
        }
        .readMore {
          margin-top: 1rem;
          font-size: $footerSize;
        }
      }
    }

    .events {
      flex-direction: column;
      justify-content: space-around;
      width: 100%;
    }

    .timeline {
      height: 100%;
      width: 15%;
      flex-direction: column;

      .singleTimeline:first-child .line {
        border-radius: 5px 5px 0 0;
        transform: translateY(50%);
      }

      .singleTimeline:last-child .line {
        border-radius: 0 0 5px 5px;
        transform: translateY(-50%);
      }

      .timelineContainer {
        @include flexCenter;
        @include fullBox;
        margin-bottom: 30px;
        // background-color: ;

        .line {
          height: 100%;
          width: 10px;
          background-color: $bgPrimary;
          z-index: -1;
        }
      }

      .buttonContainer {
        height: 100%;
        align-items: start;
        transform: translateY(-75%);
        // background-color: #fff;
      }
    }
  }
}
